@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Terminus';
    src: url('/fonts/TerminusTTF-4.49.2.ttf') format('truetype');
}

* {
    font-family: 'Terminus';
}